[submodule "commons"]
	path = commons
	url = https://git.ninjavan.co/scm/qa/commons.git
[submodule "common-selenium"]
	path = common-selenium
	url = https://git.ninjavan.co/scm/qa/common-selenium.git
